<h2>Enter your phrase:</h2>
<form method="POST" action="piglatinize">
  <textarea name="user_phrase" id="user_phrase"></textarea><br />
  <button type="submit" id="submit" value="Submit">Submit</button>
</form>
